<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>관리자 페이지</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../stylesheets/themify-icons.css" />
		<link rel="stylesheet" href="../stylesheets/vendor.bundle.base.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>

	<body>
		<div class="container-scroller">
			<!-- partial:../../partials/_navbar.html -->
			<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div
					class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
				>
					<ul class="navbar-nav mr-lg-2"></ul>
					<ul class="navbar-nav navbar-nav-right"></ul>
					<button
						class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
						type="button"
						data-toggle="offcanvas"
					>
						<span class="ti-view-list"></span>
					</button>
				</div>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:../../partials/_sidebar.html -->

				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<!-- user information div starts -->
							<div
								id="user_container"
								class="col-lg-12 grid-margin stretch-card table-hover"
							>
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">user table</h4>
										<p class="card-description">
                      관리자 페이지에 회원 목록입니다.
										</p>
										<div class="table-responsive pt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>ID</th>
														<th>Admin</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<a
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										href="./authorization"
										>관리자 권한 부여하기</a
									>
								</div>
							</div>
							<!-- user div information end -->

							<!-- upper card div starts -->
							<div
								id="upcard_card_container"
								class="col-lg-12 grid-margin stretch-card table-hover"
							>
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">card-ui card table</h4>
										<p class="card-description">
											현재 등록된 상단 카드의 목록 입니다.
										</p>
										<div class="table-responsive pt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Theme</th>
														<th>Title</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<a
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										href="./insert_upper_card"
										>생성하기</a
									>
								</div>
							</div>
							<!-- upper card end -->

							<!-- upper slide div starts -->
							<div
								id="upcard_slide_container"
								class="col-lg-12 grid-margin stretch-card table-hover"
							>
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">card-ui slide table</h4>
										<p class="card-description">
											상단 card와 연동하는 하단 슬라이드의 목록 입니다.
										</p>
										<div class="table-responsive pt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Theme</th>
														<th>Keyword</th>
														<th>Title</th>
														<th>Image URL</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<a
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										href="./insert_upper_slide"
										>생성하기</a
									>
								</div>
							</div>
							<!-- upper slide div end -->

							<!-- down slide div starts -->
							<div
								id="down_slide_container"
								class="col-lg-12 grid-margin stretch-card table-hover"
							>
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">down slide table</h4>
										<p class="card-description">
											하단 슬라이드 목록 입니다.
										</p>
										<div class="table-responsive pt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Color</th>
														<th>Image URL</th>
														<th>Link URL</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<a
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
										href="./insert_down_slide"
										>생성하기</a
									>
								</div>
							</div>
							<!-- down slide div end -->
						</div>
					</div>
					<!-- content-wrapper ends -->
					<!-- partial:../../partials/_footer.html -->
					<footer class="footer">
						<div
							class="d-sm-flex justify-content-center justify-content-sm-between"
						>
							<span
								class="text-muted text-center text-sm-left d-block d-sm-inline-block"
							>
								Copyright © 2018
								<a href="https://www.templatewatch.com/" target="_blank">
									Templatewatch
								</a>
								. All rights reserved.
							</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

		<!-- plugins:js -->
		<script src="../javascripts/vendor.bundle.base.js"></script>
		<script src="../javascripts/off-canvas.js"></script>
		<script src="../javascripts/hoverable-collapse.js"></script>
		<script src="../javascripts/template.js"></script>
		<script src="../javascripts/todolist.js"></script>
		<script src="../javascripts/admin/admin_list.js"></script>
	</body>
</html>
