<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>업로드 페이지</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../stylesheets/themify-icons.css" />
		<link rel="stylesheet" href="../stylesheets/vendor.bundle.base.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>

	<body>
		<div class="container-scroller">
			<!-- partial:../../partials/_navbar.html -->
			<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div
					class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
				>
					<ul class="navbar-nav mr-lg-2"></ul>
					<ul class="navbar-nav navbar-nav-right"></ul>
					<button
						class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
						type="button"
						data-toggle="offcanvas"
					>
						<span class="ti-view-list"></span>
					</button>
				</div>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:../../partials/_sidebar.html -->

				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<!-- down slide div starts -->

							<div class="col-12 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">이미지 파일 업로드</h4>
										<p class="card-description">
											이미지 경로는
											<code>../static_root/이미지파일명.확장자</code> 입니다.
										</p>
										<form
											class="forms-sample"
											action="../api/upload"
											enctype="multipart/form-data"
											method="POST"
										>
											<div class="form-group">
												<label>파일 업로드</label>

												<div class="input-group col-xs-12">
													<span class="input-group-append">
														<input type="file" name="userfile" required />
													</span>
												</div>
											</div>

											<button type="submit" class="btn btn-primary mr-2">제출하기</button>

											<a href="/admin/index" class="btn btn-light">
                        뒤로가기
                      </a>
										</form>
									</div>
								</div>
							</div>

							<!-- down slide div end -->
						</div>
					</div>
					<!-- content-wrapper ends -->
					<!-- partial:../../partials/_footer.html -->
					<footer class="footer">
						<div
							class="d-sm-flex justify-content-center justify-content-sm-between"
						>
							<span
								class="text-muted text-center text-sm-left d-block d-sm-inline-block"
							>
								Copyright © 2018
								<a href="https://www.templatewatch.com/" target="_blank">
									Templatewatch
								</a>
								. All rights reserved.
							</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

		<!-- plugins:js -->
		<script src="../javascripts/vendor.bundle.base.js"></script>
		<script src="../javascripts/off-canvas.js"></script>
		<script src="../javascripts/hoverable-collapse.js"></script>
		<script src="../javascripts/template.js"></script>
		<script src="../javascripts/todolist.js"></script>
	</body>
</html>
