<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>자료 입력 페이지</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../stylesheets/themify-icons.css" />
		<link rel="stylesheet" href="../stylesheets/vendor.bundle.base.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>

	<body>
		<div class="container-scroller">
			<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div
					class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
				>
					<ul class="navbar-nav mr-lg-2"></ul>
					<ul class="navbar-nav navbar-nav-right"></ul>
					<form action="/api/logout" method="post">
						<button type="submit" class="btn btn-secondary btn-rounded btn-fw">로그아웃</button>
					</form>
				</div>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="col-12 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
                    <h1>관리자 계정이 아닙니다!</h1>
                    <h4>관리자에게 권한을 요청해주세요</h4>
										<a href="/admin/index" class="btn btn-light">
											뒤로가기
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- content-wrapper ends -->
					<footer class="footer">
						<div
							class="d-sm-flex justify-content-center justify-content-sm-between"
						>
							<span
								class="text-muted text-center text-sm-left d-block d-sm-inline-block"
							>
								Copyright © 2018
								<a href="https://www.templatewatch.com/" target="_blank">
									Templatewatch
								</a>
								. All rights reserved.
							</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

		<!-- plugins:js -->
		<script src="../javascripts/vendor.bundle.base.js"></script>
		<script src="../javascripts/off-canvas.js"></script>
		<script src="../javascripts/hoverable-collapse.js"></script>
		<script src="../javascripts/template.js"></script>
		<script src="../javascripts/todolist.js"></script>
	</body>
</html>
