<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>자료 입력 페이지</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../stylesheets/themify-icons.css" />
		<link rel="stylesheet" href="../stylesheets/vendor.bundle.base.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>

	<body>
		<div class="container-scroller">
			<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div
					class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
				>
					<ul class="navbar-nav mr-lg-2"></ul>
					<ul class="navbar-nav navbar-nav-right"></ul>
					<button
						class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
						type="button"
						data-toggle="offcanvas"
					>
						<span class="ti-view-list"></span>
					</button>
				</div>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="col-12 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Downside Slide</h4>
										<p class="card-description">
											하단 Slide 이미지 슬라이드 부분
										</p>
										<form class="forms-sample">
											<div class="form-group">
												<label for="color">Color</label>
												<input
													type="text"
													class="form-control"
													name="color"
													id="color"
													placeholder="Color"
												/>
											</div>
											<div class="form-group">
												<label for="image_url">Image URL</label>
												<input
													type="text"
													class="form-control"
													id="image_url"
													name="image_url"
													placeholder="Image URL"
												/>
											</div>
											<div class="form-group">
												<label for="image_link">Image Link</label>
												<input
													type="text"
													class="form-control"
													id="image_link"
													name="image_link"
													placeholder="Image Link"
												/>
											</div>
											<button type="submit" class="btn btn-primary mr-2">
												Submit
											</button>
											<button class="btn btn-light">Cancel</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- content-wrapper ends -->
					<footer class="footer">
						<div
							class="d-sm-flex justify-content-center justify-content-sm-between"
						>
							<span
								class="text-muted text-center text-sm-left d-block d-sm-inline-block"
							>
								Copyright © 2018
								<a href="https://www.templatewatch.com/" target="_blank">
									Templatewatch
								</a>
								. All rights reserved.
							</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

		<!-- plugins:js -->
		<script src="../javascripts/vendor.bundle.base.js"></script>
		<script src="../javascripts/off-canvas.js"></script>
		<script src="../javascripts/hoverable-collapse.js"></script>
		<script src="../javascripts/template.js"></script>
		<script src="../javascripts/todolist.js"></script>
	</body>
</html>
