<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>자료 입력 페이지</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../stylesheets/themify-icons.css" />
		<link rel="stylesheet" href="../stylesheets/vendor.bundle.base.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>

	<body>
		<div class="container-scroller">
			<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
				<div
					class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
				>
					<ul class="navbar-nav mr-lg-2"></ul>
					<ul class="navbar-nav navbar-nav-right"></ul>
					<form action="/api/logout" method="post">
						<button type="submit" class="btn btn-secondary btn-rounded btn-fw">로그아웃</button>
					</form>
				</div>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="col-12 grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Upside Card</h4>
										<p class="card-description">
											상단 Card Slide 카드 부분
										</p>
										<form
											class="forms-sample"
											action="/api//insert_data"
											accept-charset="utf-8"
											method="POST"
										>
											<input
												type="text"
												name="table_name"
												style="display: none;"
												value="upside_card"
											/>
											<div class="form-group">
												<label for="theme">Card Index</label>
												<input
													type="number"
													class="form-control"
													name="card_index"
													id="card_index"
                          placeholder="Index_number"
                          required
												/>
												<code
													>하단 슬라이드와 연동하기 위한 index 입니다. 낮을 수록
													앞쪽에 배치됩니다.</code
												>
											</div>
											<div class="form-group">
												<label for="theme">Theme</label>
												<input
													type="text"
													class="form-control"
													name="theme"
													id="theme"
                          placeholder="Theme"
                          required
												/>
											</div>
											<div class="form-group">
												<label for="title">Title</label>
												<input
													type="text"
													class="form-control"
													name="title"
													id="title"
                          placeholder="Title"
                          required
												/>
											</div>
											<button type="submit" class="btn btn-primary mr-2">
												제출하기
											</button>
											<a href="/admin/index" class="btn btn-light">
                        뒤로가기
                      </a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- content-wrapper ends -->
					<footer class="footer">
						<div
							class="d-sm-flex justify-content-center justify-content-sm-between"
						>
							<span
								class="text-muted text-center text-sm-left d-block d-sm-inline-block"
							>
								Copyright © 2018
								<a href="https://www.templatewatch.com/" target="_blank">
									Templatewatch
								</a>
								. All rights reserved.
							</span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

		<!-- plugins:js -->
		<script src="../javascripts/vendor.bundle.base.js"></script>
		<script src="../javascripts/off-canvas.js"></script>
		<script src="../javascripts/hoverable-collapse.js"></script>
		<script src="../javascripts/template.js"></script>
		<script src="../javascripts/todolist.js"></script>
	</body>
</html>
